:root {
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        height: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        header > h1 {
            margin: 0;
        }

    div.container > div.user-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        background-color: white;
    }

        div.container > div.user-container > div.left-side {
            height: 100%;
            width: 30%;
            background-color: white;
            box-sizing: border-box;
            padding: 20px 70px;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            div.container > div.user-container > div.left-side > p.title {
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
                
                border-color: black;
                border-style: solid;
                border-width: 1px;
                border-radius: 10px;

                margin-bottom: 10px;            
                padding: 7px;
                box-sizing: border-box;
            }

                div.container > div.user-container > div.left-side > button {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    background-color: #009690; /* 主要顏色 */
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    font-size: 1rem;
                }

                div.container > div.user-container > div.left-side > button.active {
                    background-color: #cc0033; /* 點擊後的顏色 */
                }
              
                div.container > div.user-container > div.left-side > button:hover:not(.active):hover {
                    background-color: #007e78; /* 滑鼠懸停時的顏色 */
                }
              
                div.container > div.user-container > div.left-side > button:active {
                    background-color: #005e5a; /* 點擊時的顏色 */
                }
              
                div.container > div.user-container > div.left-side > button:focus {
                    outline: none; /* 移除按鈕的默認外框 */
                }
  
        div.container > div.user-container > div.middle-side {
            height: 100%;
            width: 50%;
            background-color: white;
            box-sizing: border-box;
            padding: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            div.container > div.user-container > div.middle-side > p.title {
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
                
                border-color: black;
                border-style: solid;
                border-width: 1px;
                border-radius: 10px;

                margin-bottom: 10px;            
                padding: 7px;
                box-sizing: border-box;
            }

            div.container > div.user-container > div.middle-side div.input-field {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
            }

            div.container > div.user-container > div.middle-side label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 1.1rem;
                width: 60%;
            }
          
            div.container > div.user-container > div.middle-side input {
                width: 40%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
                transition: border-color 0.3s ease;
            }
          
            div.container > div.user-container > div.middle-side input:focus {
                outline: none;
                border-color: #009690;
            }

        div.container > div.user-container > div.right-side {
            height: 100%;
            width: 20%;
            background-color: white;
            box-sizing: border-box;
            padding: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            div.container > div.user-container > div.right-side > button {
                width: 50%;
                height: 50%;
                box-sizing: border-box;
                padding: 10px;
                border: none;
                border-radius: 10px;
                background-color: #78b7ff; /* 主要顏色 */
                color: #fff;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 1rem;
            }

            div.container > div.user-container > div.right-side > button:hover {
                background-color: #cc0033; /* 滑鼠懸停時的顏色 */
            }

            div.container > div.user-container > div.right-side > div.loader {
                border: 6px solid #f3f3f3;
                border-top: 6px solid #009690; /* 旋轉的滾輪顏色 */
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 1s linear infinite;
                margin: 0 auto;
                display: none;
            }
          
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
          

    main {
        height: 58%;
        display: flex;
        flex-direction: row;
    }

        main > div#map {
            height: 100%;
            width: 50%;
            background-color: #f2f2f2;
            position: relative;
        }

        main > div#evaluation-container {
            height: 100%;
            width: 50%;
            background-color: rgb(147, 179, 243);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 0px 20px;
            box-sizing: border-box;

            border-left-color: black;
            border-left-style: solid;
            border-left-width: 1px;
        }
            main > div#evaluation-container > div.eval-title {
                width: 100%;
                height: 15%;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                font-size: 1.4rem;
                font-weight: bold;
            }

            main > div#evaluation-container > div.table-wrapper {
                width: 100%;
                height: 70%;
            }

            main > div#evaluation-container > div.eval-desc {
                width: 100%;
                height: 15%;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                font-size: 1.3rem;
                font-weight: bold;
                color: #cc0033;
                text-align: center;
            }

                main > div#evaluation-container table {
                    border-collapse: collapse;
                    width: 100%;
                    text-align: center;
                    font-family: Arial, sans-serif;
                    background-color: #f7f7f7;
                    border-radius: 10px;

                    display: block;
                    overflow-x: auto;
                    white-space: nowrap;
                }
        
                main > div#evaluation-container  th, td {
                    border: 1px solid white;
                    padding: 15px;
                    box-sizing: border-box;
                }
        
                main > div#evaluation-container th {
                    background-color: #f2f2f2;
                    font-weight: bold;
                }

                main > div#evaluation-container tr:nth-child(even) {
                    background-color: #f9f9f9;
                }
              
                main > div#evaluation-container tr:hover {
                    background-color: #f5f5f5;
                }